{
    "presets": [ "@babel/preset-react", "@babel/preset-env" ],
    "plugins": [
        ["transform-imports", {
            "rc-color-picker": {
              "transform": "rc-color-picker/lib/${member}",
              "preventFullImport": true
            },
        }],
    ]
}
